<!-- Toolbar -->
<h1>Synthetic Cyber Knowledge Graph</h1>

<div class="content" role="main">
  <div class="description-page" [hidden]="isSelectingRelationships">
    <p>This is a description of the scenario. For now, it is just placeholder content. However, it will explain the
      Internet of Vehicles scenario that
      was presented, including the information that should be shown. At the moment, I am not sure how this should be
      stated, so I am just adding more
      words here to take up space. I am also not sure how long this paragraph will be.
    </p>

    <h2>STIX Domain Objects</h2>
    <div class="object-buttons-container">
      <app-object-btn
        *ngFor="let object of [{name: 'Attack Pattern', class: 'attack-pattern'}, {name: 'Campaign', class: 'campaign'}, {name: 'Course of Action', class: 'course-of-action'}, 
          {name: 'Grouping', class: 'grouping'}, {name: 'Identity', class: 'identity'}, {name: 'Incident', class: 'incident'}, {name: 'Indicator', class: 'indicator'}, 
          {name: 'infrastructure', class: 'infrastructure'}, {name: 'Intrusion Set', class: 'intrusion-set'}, {name: 'Location', class: 'location'}, {name: 'Malware', class: 'malware'}, 
          {name: 'Malware Analysis', class: 'malware-analysis'}, {name: 'Note', class: 'note'}, {name: 'Observed Data', class: 'observed-data'}, {name: 'Opinion', class: 'opinion'}, 
          {name: 'Report', class: 'report'}, {name: 'Threat Actor', class: 'threat-actor'}, {name: 'Tool', class: 'tool'}, {name: 'Vulnerability', class: 'vulnerability'}]"
        [btnName]="object.name" [btnClass]="object.class" (btnClicked)="onObjectButtonClicked($event)">
      </app-object-btn>
    </div>

    <!--* Below are example lines for adding different types of input.
      { inputType: 'text', stixProperty: 'exampleText', propertyName: 'Example Text', isRequired: false }
      { inputType: 'select', stixProperty: 'exampleSelect', propertyName: 'Example Select', isRequired: false, selectOptions: ['Option 1', 'Option 2', 'Option 3'] }
      { inputType: 'checkbox', stixProperty: 'exampleCheckbox', propertyName: 'Example Checkbox', isRequired: false, checkboxOptions: ['Option 1', 'Option 2', 'Option 3'] }
      { inputType: 'timestamp', stixProperty: 'exampleTimestamp', propertyName: 'Example Timestamp', isRequired: false }
    -->
    <ng-container *ngFor="let box of [
        {name: 'Attack Pattern', type: 'attack-pattern', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false }
        ]},
        {name: 'Campaign', type: 'campaign', fields: [
        { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true }, 
        { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false },
        { inputType: 'timestamp', stixProperty: 'first_seen', propertyName: 'First Seen', isRequired: false },
        { inputType: 'timestamp', stixProperty: 'last_seen', propertyName: 'Last Seen', isRequired: false },
        { inputType: 'text', stixProperty: 'objective', propertyName: 'Objective', isRequired: false }
        ]},
        {name: 'Course of Action', type: 'course-of-action', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false }
        ]},
        {name: 'Grouping', type: 'grouping', fields: [
          { inputType: 'select', stixProperty: 'context', propertyName: 'Context', isRequired: true, selectOptions: ['suspicious-activity', 'malware-analysis', 'unspecified'] },
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: false }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false }
        ]},
        {name: 'Identity', type: 'identity', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false }, 
          { inputType: 'text', stixProperty: 'contact_information', propertyName: 'Contact Information', isRequired: false },
          { inputType: 'checkbox', stixProperty: 'roles', propertyName: 'Roles', isRequired: false, checkboxOptions: ['CEO', 'Domain Administrator', 'Doctor', 'Hospital', 'Retailer'] },
          { inputType: 'select', stixProperty: 'identity_class', propertyName: 'Identity Class', isRequired: false, selectOptions: ['individual', 'group', 'system', 'organization', 'class', 'unknown'] },
          { inputType: 'checkbox', stixProperty: 'sectors', propertyName: 'Sectors', isRequired: false, checkboxOptions: ['agriculture', 'education', 'government', 'healthcare', 'infrastructure', 'utilities'] }
        ]}, 
        {name: 'Incident', type: 'incident', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false }
        ]},
        {name: 'Indicator', type: 'indicator', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: false }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false },
          { inputType: 'checkbox', stixProperty: 'indicator_types', propertyName: 'Indicator Types', isRequired: false, checkboxOptions: ['anomalous-activity', 'anonymization', 'benign', 'compromised', 'malicious-activity', 'attribution', 'unknown'] },
          { inputType: 'text', stixProperty: 'pattern', propertyName: 'pattern', isRequired: true },
          { inputType: 'select', stixProperty: 'pattern_type', propertyName: 'Pattern Type', isRequired: true, selectOptions: ['stix', 'pcre', 'sigma', 'snort', 'suricata', 'yara'] },
          { inputType: 'text', stixProperty: 'pattern_version', propertyName: 'Pattern Version', isRequired: false },
          { inputType: 'timestamp', stixProperty: 'valid_from', propertyName: 'Valid From', isRequired: true },
          { inputType: 'timestamp', stixProperty: 'valid_until', propertyName: 'Valid Until', isRequired: false }
        ]},
        {name: 'Infrastructure', type: 'infrastructure', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false },
          { inputType: 'checkbox', stixProperty: 'infrastructure_types', propertyName: 'Infrastructure Types', isRequired: false, checkboxOptions: ['anonymization', 'botnet', 'exfiltration', 'firewall', 'phishing', 'unknown'] },
          { inputType: 'timestamp', stixProperty: 'first_seen', propertyName: 'First Seen', isRequired: false },
          { inputType: 'timestamp', stixProperty: 'last_seen', propertyName: 'Last Seen', isRequired: false }
        ]},
        {name: 'Intrusion Set', type: 'intrusion-set', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false },
          { inputType: 'checkbox', stixProperty: 'infrastructure_types', propertyName: 'Infrastructure Types', isRequired: false, checkboxOptions: ['anonymization', 'botnet', 'exfiltration', 'firewall', 'phishing', 'unknown'] },
          { inputType: 'timestamp', stixProperty: 'first_seen', propertyName: 'First Seen', isRequired: false },
          { inputType: 'timestamp', stixProperty: 'last_seen', propertyName: 'Last Seen', isRequired: false },
          { inputType: 'select', stixProperty: 'resource_level', propertyName: 'Resource Level', isRequired: false, selectOptions: ['individual', 'club', 'contest', 'team', 'organization', 'government'] },
          { inputType: 'select', stixProperty: 'primary_motivation', propertyName: 'Primary Motivation', isRequired: false, selectOptions: ['accidental', 'coercion', 'organizational-gain', 'personal-gain', 'personal-satisfaction', 'revenge'] },
          { inputType: 'checkbox', stixProperty: 'secondary_motivations', propertyName: 'Secondary Motivations', isRequired: false, checkboxOptions: ['accidental', 'coercion', 'organizational-gain', 'personal-gain', 'personal-satisfaction', 'revenge'] }
        ]},
        {name: 'Location', type: 'location', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: false }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false },
          { inputType: 'select', stixProperty: 'region', propertyName: 'Region', isRequired: false, selectOptions: ['africa', 'americas', 'asia', 'europe', 'oceania'] },
          { inputType: 'text', stixProperty: 'country', propertyName: 'Country', isRequired: false }, 
          { inputType: 'text', stixProperty: 'administrative_area', propertyName: 'Administrative Area', isRequired: false },
          { inputType: 'text', stixProperty: 'city', propertyName: 'City', isRequired: false }, 
          { inputType: 'text', stixProperty: 'street_address', propertyName: 'Street Address', isRequired: false }, 
          { inputType: 'text', stixProperty: 'postal_code', propertyName: 'Postal Code', isRequired: false }
        ]},
        {name: 'Malware', type: 'malware', fields: [
          { inputType: 'select', stixProperty: 'is_family', propertyName: 'Malware Family', isRequired: true, selectOptions: ['Yes', 'No'] },
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: false }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false },
          { inputType: 'checkbox', stixProperty: 'malware_types', propertyName: 'Malware Types', isRequired: false, checkboxOptions: ['ddos', 'ransomware', 'trojan', 'unknown', 'virus'] },
          { inputType: 'timestamp', stixProperty: 'first_seen', propertyName: 'First Seen', isRequired: false },
          { inputType: 'timestamp', stixProperty: 'last_seen', propertyName: 'Last Seen', isRequired: false }
        ]}, 
        {name: 'Malware Analysis', type: 'malware-analysis', fields: [
          { inputType: 'text', stixProperty: 'version', propertyName: 'Version', isRequired: false }, 
          { inputType: 'text', stixProperty: 'configuration_version', propertyName: 'Configuration Version', isRequired: false }, 
          { inputType: 'text', stixProperty: 'analysis_engine_version', propertyName: 'Analysis Engine Version', isRequired: false }, 
          { inputType: 'text', stixProperty: 'analysis_definition_version', propertyName: 'Analysis Definition Version', isRequired: false }, 
          { inputType: 'timestamp', stixProperty: 'submitted', propertyName: 'Submitted', isRequired: false },
          { inputType: 'timestamp', stixProperty: 'analysis_started', propertyName: 'Analysis Started', isRequired: false },
          { inputType: 'timestamp', stixProperty: 'analysis_ended', propertyName: 'Analysis Ended', isRequired: false },
          { inputType: 'text', stixProperty: 'result_name', propertyName: 'Result Name', isRequired: false }, 
          { inputType: 'select', stixProperty: 'result', propertyName: 'Result', isRequired: false, selectOptions: ['malicious', 'suspicious', 'benign', 'unknown'] },
        ]},
        {name: 'Note', type: 'note', fields: [
          { inputType: 'text', stixProperty: 'content', propertyName: 'Content', isRequired: true },
          { inputType: 'text', stixProperty: 'abstract', propertyName: 'Abstract', isRequired: false }
        ]}, 
        {name: 'Observed Data', type: 'observed-data', fields: [
          { inputType: 'timestamp', stixProperty: 'first_observed', propertyName: 'First Observed', isRequired: true },
          { inputType: 'timestamp', stixProperty: 'last_observed', propertyName: 'Last Observed', isRequired: true }  
        ]},
        {name: 'Opinion', type: 'opinion', fields: [
          { inputType: 'text', stixProperty: 'explanation', propertyName: 'Explanation', isRequired: false }
        ]},
        {name: 'Report', type: 'report', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false },
          { inputType: 'checkbox', stixProperty: 'report_types', propertyName: 'Report Types', isRequired: false, checkboxOptions: ['attack-pattern', 'campaign', 'identity', 'indicator', 'intrusion-set', 'malware', 'observed-data', 'threat-actor', 'threat-report', 'tool', 'vulnerability'] },
          { inputType: 'timestamp', stixProperty: 'published', propertyName: 'Published', isRequired: true }  
        ]}, 
        {name: 'Threat Actor', type: 'threat-actor', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true }, 
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false },
          { inputType: 'checkbox', stixProperty: 'threat_actor_types', propertyName: 'Threat Actor Type', isRequired: false, checkboxOptions: ['activist', 'criminal', 'hacker', 'nation-state', 'spy', 'unknown'] },
          { inputType: 'timestamp', stixProperty: 'first_seen', propertyName: 'First Seen', isRequired: false },
          { inputType: 'timestamp', stixProperty: 'last_seen', propertyName: 'Last Seen', isRequired: false },
          { inputType: 'checkbox', stixProperty: 'roles', propertyName: 'Roles', isRequired: false, checkboxOptions: ['agent', 'director', 'independent', 'infrastructure-architect', 'infrastructure-operator', 'malware-author', 'sponsor'] },
          { inputType: 'select', stixProperty: 'sophistication', propertyName: 'Sophistication', isRequired: false, selectOptions: ['none', 'minimal', 'intermediate', 'advanced', 'expert', 'innovator', 'strategic'] },
          { inputType: 'select', stixProperty: 'resource_level', propertyName: 'Resource Level', isRequired: false, selectOptions: ['individual', 'club', 'contest', 'team', 'organization', 'government'] },
          { inputType: 'select', stixProperty: 'primary_motivation', propertyName: 'Primary Motivation', isRequired: false, selectOptions: ['accidental', 'coercion', 'organizational-gain', 'personal-gain', 'personal-satisfaction', 'revenge'] },
          { inputType: 'checkbox', stixProperty: 'secondary_motivations', propertyName: 'Secondary Motivations', isRequired: false, checkboxOptions: ['accidental', 'coercion', 'organizational-gain', 'personal-gain', 'personal-satisfaction', 'revenge'] },
          { inputType: 'checkbox', stixProperty: 'personal_motivations', propertyName: 'Personal Motivations', isRequired: false, checkboxOptions: ['accidental', 'coercion', 'organizational-gain', 'personal-gain', 'personal-satisfaction', 'revenge'] }
        ]},
        {name: 'Tool', type: 'tool', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true },
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false },
          { inputType: 'checkbox', stixProperty: 'tool_types', propertyName: 'Tool Types', isRequired: false, checkboxOptions: ['denial-of-service', 'exploitation', 'information-gathering', 'network-capture', 'credential-exploitation', 'remote-access', 'vulnerability-scanning', 'unknown'] },
          { inputType: 'text', stixProperty: 'tool_version', propertyName: 'Tool Version', isRequired: true }
        ]},
        {name: 'Vulnerability', type: 'vulnerability', fields: [
          { inputType: 'text', stixProperty: 'name', propertyName: 'Name', isRequired: true },
          { inputType: 'text', stixProperty: 'description', propertyName: 'Description', isRequired: false }
        ]},
      ]">
      <app-object-box [boxName]="box.name" [stixType]="box.type" *ngIf="isObjectSelected(box.type)"
        (lastFormDeleted)="onLastFormRemoved($event)" (formAdded)="updateTotalFormsCount(1)"
        (formDeleted)="updateTotalFormsCount(-1)" [formFields]="box.fields">
      </app-object-box>
    </ng-container>

    <div class="dataset-container">
      <label for="dataset" class="dataset-label">Dataset Amount: </label>
      <input id="dataset" class="dataset-input" type="number" min="0" max="10000" [(ngModel)]="datasetAmount"
        (input)="onDatasetInput($event)" />
    </div>

    <button class="select-relationships-btn" *ngIf="totalForms >= 2" (click)="onSelectRelationshipsClick()">Select
      Relationships</button>
  </div>

  <div class="relationship-page" [hidden]="!isSelectingRelationships">
    <div class="relationship-selection-container">
      <div class="stix-object-column">
        <h2>STIX Domain Objects</h2>
        <button class="edit-btn" (click)="onEditObjectsClick()">Edit Objects</button>
        <ng-container *ngFor="let object of selectedObjects">
          <!-- Display the object title -->
          <button class="object-title-buttons" (click)="toggleObjectDetailsVisibility(object.name)">
            {{ object.name }}
          </button>

          <!-- Display the object details if the title is selected (visible) -->
          <ng-container *ngIf="displayCreatedObjects[object.name]">
            <div class="object-details-container" *ngFor="let detail of getDetailsForBoxName(object.name)">
              <h4 class="object-title-h4">{{ detail.title }}</h4>
              <ul>
                <ng-container *ngFor="let field of detail.formData">
                  <li>
                    {{ field.key }}: {{ field.value }}
                  </li>
                </ng-container>
              </ul>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="stix-relationship-column">
        <h2>STIX Relationship Objects</h2>
        <input type="radio" id="relationshipRadio" name="relationshipType" value="relationship" class="hidden-radio"
          (change)="selectRelationship()" />
        <label for="relationshipRadio" class="relationship-label">Relationship</label>
        <input type="radio" id="sightingRadio" name="relationshipType" value="sighting" class="hidden-radio"
          (change)="selectSighting()" />
        <label for="sightingRadio" class="relationship-label">Sighting</label>
      </div>

      <div class="if-relationship" *ngIf="relationshipType === 'relationship'">
        <h2>Create the Relationship</h2>
        <h3>Source Reference:</h3>
        <select class="relationship-select" [(ngModel)]="sourceReference" (change)="onSourceReferenceChange()">
          <option class="relationship-option" *ngFor="let detail of createdStixObjects" [value]="detail.id">{{
            detail.title }}</option>
        </select>

        <h3>Target Reference:</h3>
        <select class="relationship-select" [(ngModel)]="targetReference" (change)="updateAvailableRelationships()">
          <option class="relationship-option" *ngFor="let detail of createdStixObjects" [value]="detail.id"
            [disabled]="sourceReference === detail.id">{{ detail.title }}</option>
        </select>

        <h3>Relationship:</h3>
        <select class="relationship-select" [(ngModel)]="chosenRelationship">
          <option class="relationship-option" *ngFor="let relationship of availableRelationships"
            [value]="relationship">{{ relationship }}</option>
        </select>
        <button class="create-btn" (click)="createRelationship()">Create Relationship</button>
      </div>

      <div class="if-sighting" *ngIf="relationshipType === 'sighting'">
        <h2>Create the Relationship</h2>
        <h3>Sighting of Reference:</h3>
        <select class="relationship-select" [(ngModel)]="sightingReference">
          <option class="relationship-option" *ngFor="let detail of createdStixObjects" [value]="detail.id">{{
            detail.title }}</option>
        </select>
        <button class="create-btn" (click)="createSighting()">Create Sighting</button>
      </div>
    </div>

    <div *ngFor="let relationship of relationshipsCreated" class="selected-relationships-column">
      <div class="selected-relationships-container">
        <!-- If it's a relationship, display Source column -->
        <div class="relationship-column" *ngIf="relationship.type === 'relationship'">
          <h3>Source:</h3>
          <ul class="relationship-detail">
            <h4 class="object-title-h4">{{ relationship.sourceDetail.title }}</h4>
            <ng-container *ngFor="let field of relationship.sourceDetail.formData">
              <li>
                {{ field.key }}: {{ field.value }}
              </li>
            </ng-container>
          </ul>
        </div>

        <!-- If it's a relationship, display Relationship column -->
        <div class="relationship-column" *ngIf="relationship.type === 'relationship'">
          <h3>Relationship:</h3>
          <div class="relationship-detail">
            {{ relationship.relationship }}
          </div>
        </div>

        <!-- If it's a relationship, display Target column -->
        <div class="relationship-column" *ngIf="relationship.type === 'relationship'">
          <h3>Target:</h3>
          <ul class="relationship-detail">
            <h4 class="object-title-h4">{{ relationship.targetDetail.title }}</h4>
            <ng-container *ngFor="let field of relationship.targetDetail.formData">
              <li>
                {{ field.key }}: {{ field.value }}
              </li>
            </ng-container>
          </ul>
        </div>

        <!-- If it's a sighting -->
        <div class="relationship-column" *ngIf="relationship.type === 'sighting'">
          <h3>Sighting of Reference:</h3>
          <ul class="relationship-detail">
            <h4 class="object-title-h4">{{ relationship.sourceDetail.title }}</h4>
            <ng-container *ngFor="let field of relationship.sourceDetail.formData">
              <li>
                {{ field.key }}: {{ field.value }}
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <button class="delete-btn" (click)="deleteRelationship(relationship)">Delete</button>
    </div>

    <button class="continue" *ngIf="relationshipsCreated.length > 0" (click)="onContinueClick()">Continue</button>

    <div *ngIf="jsonOutput">
      <div class="objects-created">
        <h2>Objects Created:</h2>
        <div class="objects-amount">
          <div *ngFor="let object of stixTotals | keyvalue" class="object-line">
            <h3>{{ object.key }}:</h3>
            <span class="object-values">{{ object.value }}</span>
          </div>
        </div>
      </div>
      <button class="view-btn" (click)="toggleViewBundle()">{{ viewBundle ? 'Hide STIX Bundle' : 'View STIX Bundle' }}</button>

      <div class="bundle-output" [ngClass]="{ 'hidden': !viewBundle }">
        <div class="bundle-btn-container">
          <button class="bundle-btn copy-btn" (click)="copyToClipboard()">Copy to Clipboard</button>
          <button class="bundle-btn" (click)="downloadStixBundle()">Download STIX Bundle</button>
        </div>
        <pre>{{ stixBundle }}</pre>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <p>This project has been created in collaboration with the <a href="https://www.uncp.edu/"
        target="_blank">University of North Carolina at Pembroke</a>
      and the <a href="https://ncsu-las.org/" target="_blank">NSA/Laboratory for Analytic Sciences</a>.
    </p>
  </footer>
</div>

<router-outlet></router-outlet>