<!-- Toolbar -->
<h1>Synthetic Cyber Knowledge Graph</h1>

<div class="content" role="main">
  <p>This is a description of the scenario. For now, it is just placeholder content. However, it will explain the Internet of Vehicles scenario that 
    was presented, including the information that should be shown. At the moment, I am not sure how this should be stated, so I am just adding more 
    words here to take up space. I am also not sure how long this paragraph will be.
  </p>

  <h2>STIX Domain Objects (SDOs)</h2>
  <div class="object-buttons">
      <!-- <app-object-btn [btnName]="'Attack Pattern'" [btnClass]="'attack-pattern'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Campaign'" [btnClass]="'campaign'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Course of Action'" [btnClass]="'course-of-action'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Grouping'" [btnClass]="'grouping'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <app-object-btn [btnName]="'Identity'" [btnClass]="'identity'" (btnClicked)="objectClicked($event)"></app-object-btn>
      <!-- <app-object-btn [btnName]="'Indicator'" [btnClass]="'indicator'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Infrastructure'" [btnClass]="'infrastructure'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Intrusion Set'" [btnClass]="'intrusion-set'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Location'" [btnClass]="'location'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <app-object-btn [btnName]="'Malware'" [btnClass]="'malware'" (btnClicked)="objectClicked($event)"></app-object-btn>
      <!-- <app-object-btn [btnName]="'Malware Analysis'" [btnClass]="'malware-analysis'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Note'" [btnClass]="'note'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Observed Data'" [btnClass]="'observed-data'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Opinion'" [btnClass]="'opinion'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Report'" [btnClass]="'report'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <app-object-btn [btnName]="'Threat Actor'" [btnClass]="'threat-actor'" (btnClicked)="objectClicked($event)"></app-object-btn>
      <!-- <app-object-btn [btnName]="'Tool'" [btnClass]="'tool'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
      <!-- <app-object-btn [btnName]="'Vulnerability'" [btnClass]="'vulnerability'" (btnClicked)="objectClicked($event)"></app-object-btn> -->
  </div>

  <app-object-box [boxName]="'Identity'" [stixType]="'identity'" *ngIf="selectedObjects.includes('identity')"
    [formFields]="[
      { stixProperty: 'name', propertyName: 'Name', isRequired: true },
      { stixProperty: 'description', propertyName: 'Description', isRequired: false },
      { stixProperty: 'contact_information', propertyName: 'Contact Information', isRequired: false }
    ]">
  </app-object-box>

  <app-object-box [boxName]="'Malware'" [stixType]="'malware'" *ngIf="selectedObjects.includes('malware')"
    [formFields]="[
      { stixProperty: 'name', propertyName: 'Name', isRequired: false },
      { stixProperty: 'description', propertyName: 'Description', isRequired: false }
    ]">
  </app-object-box>

  <app-object-box [boxName]="'Threat Actor'" [stixType]="'threat-actor'" *ngIf="selectedObjects.includes('threat-actor')"
    [formFields]="[
      { stixProperty: 'name', propertyName: 'Name', isRequired: true },
      { stixProperty: 'description', propertyName: 'Description', isRequired: false }
    ]">
  </app-object-box>

  <!-- Footer -->
  <footer>
    <p>This project has been created in collaboration with the <a href="https://www.uncp.edu/" target="_blank">University of North Carolina at Pembroke</a> 
      and the <a href="https://ncsu-las.org/" target="_blank">NSA Laboratory for Analytic Sciences</a>.
    </p>
  </footer>
</div>

<router-outlet></router-outlet>
