antlr4-python3-runtime==4.9.3
asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
Django==4.2.5
django-cors-headers==4.3.0
Faker==19.13.0
idna==3.4
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
simplejson==3.19.2
six==1.16.0
sqlparse==0.4.4
stix2==3.0.1
stix2-patterns==2.0.0
tzdata==2023.3
urllib3==2.0.7
