.label-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

label {
    display: block;
    font-weight: 400;
    padding-left: 2px;
    font-size: 1em;
}

.requirement-indicator {
    font-size: .7em;
    font-weight: 500;
    margin-left: auto;
    color: var(--accent-gray);
    padding-right: 2px;
}

.requirement-indicator.required {
    color: var(--accent-red);
}

.input-field, .select-field, .checkbox-container {
    background-color: transparent;
    border: 1px solid var(--text-main);
    border-radius: 3px;
    padding: 2px;
    width: 200px;
    box-sizing: border-box;
}

.option-field {
    background-color: var(--main-bg);
}

.checkbox-box {
    accent-color: var(--accent-blue);
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 4px;
}

.checkbox-option {
    display: flex;
    align-items: center;
}