.label-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

label {
    display: block;
    font-weight: 500;
    padding-left: 3px;
}

.requirement-indicator {
    font-size: .7em;
    font-weight: 500;
    margin-left: auto;
    color: var(--accent-gray);
    padding-right: 3px;
}

.requirement-indicator.required {
    color: var(--accent-red);
}

input {
    background-color: transparent;
    border: 1px solid var(--text-main);
    border-radius: 3px;
    padding: 3px;
    width: 200px;
}