<div class="label-container">
    <label [for]="stixProperty">
        {{ propertyName }}
    </label>
    <span class="requirement-indicator" [class.required]="isRequired">{{ isRequired ? 'Required' : 'Optional' }}</span>
</div>

<!----------------->
<!-- Input Types -->
<!----------------->

<!-- Text -->
<input class="input-field" type="text" *ngIf="inputType === 'text'" [id]="stixProperty" [name]="propertyName"
    [required]="isRequired" />

<!-- Timestamp -->
<input class="input-field" type="datetime-local" *ngIf="inputType === 'timestamp'" [id]="stixProperty"
    [name]="propertyName" [required]="isRequired" />

<!-- Float -->
<input class="input-field" type="number" *ngIf="inputType === 'float'" [id]="stixProperty" [name]="propertyName"
    [required]="isRequired" step="any" />

<!-- Open-Vocab - Selects -->
<select class="select-field" *ngIf="inputType === 'select'" [id]="stixProperty" [name]="propertyName"
    [required]="isRequired">
    <option class="option-field" value=""></option>
    <option class="option-field" *ngFor="let option of selectOptions" [value]="option">{{ option }}</option>
</select>

<!-- List - Stringlist -->
<div class="list-container" *ngIf="inputType === 'stringlist'">
    <div class="dropdown-container">
        <input class="input-field-list" type="text" [id]="stixProperty" [name]="propertyName" [required]="isRequired"
            [(ngModel)]="enteredListValue" (keyup.enter)="updateListValues()" data-input-type="stringlist" placeholder="Type here" />
        <mat-icon *ngIf="listValues.length >= 1" class="dropdown-icon"
            (click)="toggleCheckboxArea()">expand_more</mat-icon>
    </div>

    <div class="list-item-container" [ngClass]="{ 'hidden': !isCheckboxAreaExpanded }">
        <div class="list-item" *ngFor="let value of listValues; let i = index">
            <mat-icon class="remove-item" (click)="removeListValue(i)">close</mat-icon>
            <p>{{ value }}</p>
        </div>
    </div>
</div>

<!-- List - Checkboxes -->
<div class="checkbox-container" *ngIf="inputType === 'checkbox'">
    <button class="dropdown-container" (click)="toggleCheckboxArea()">
        <p>{{ selectedCheckboxOptions.length }} selected</p>
        <mat-icon class="mat-icon">expand_more</mat-icon>
    </button>
    <div class="checkbox-option-container" [ngClass]="{ 'hidden': !isCheckboxAreaExpanded }">
        <div class="checkbox-option" *ngFor="let option of checkboxOptions">
            <input class="checkbox-box" type="checkbox" [id]="stixProperty" [name]="propertyName"
                [required]="isRequired" [value]="option" [checked]="selectedCheckboxOptions.includes(option)"
                (change)="updateSelectedOptions(option)" />
            {{ option }}
        </div>
    </div>
</div>

<!-- Latitude -->
<input class="input-field" type="number" *ngIf="inputType === 'latitude'" [id]="stixProperty" [name]="propertyName"
    [required]="isRequired" step="any" [min]="-90" [max]="90" (input)="updateStatus($event)" />

<!-- Longitude -->
<input class="input-field" type="number" *ngIf="inputType === 'longitude'" [id]="stixProperty" [name]="propertyName"
    [required]="isRequired" step="any" [min]="-180" [max]="180" (input)="updateStatus($event)" />

<!-- Precision -->
<input class="input-field" type="number" *ngIf="inputType === 'precision'" [id]="stixProperty" [name]="propertyName"
    [required]="isRequired" step="any" (input)="updateStatus($event)" />