<div class="header-div">
    <h3>{{ boxName }}</h3>
    <p>Type: <span>{{ stixType }}</span></p>
</div>

<div class="form-container">
    <ng-container *ngFor="let formDetail of formDetails; let i = index">
        <div class="form-header">
            <h4 class="formID">{{ stixType }}-{{ i + 1 }}</h4>
            <button class="delete" (click)="deleteForm(formDetail.id)">Delete</button>
        </div>
        <p class="location-message" *ngIf="stixType === 'location'">At least one of the following properties/sets of properties <span>MUST</span> be provided: <span>region</span>, <span>country</span>, or both <span>latitude and longitude</span>.</p>
        <app-object-form [class]="stixType" [formTitle]="stixType + '-' + (i + 1)">
            <ng-container *ngFor="let field of formFields">
                <app-object-info 
                    [inputType]="field.inputType" 
                    [stixProperty]="field.stixProperty" 
                    [propertyName]="field.propertyName" 
                    [isRequired]="field.isRequired"
                    [selectOptions]="field.selectOptions"
                    [checkboxOptions]="field.checkboxOptions"
                >
                </app-object-info>
            </ng-container>
        </app-object-form>
        <hr *ngIf="i < formDetails.length - 1">
    </ng-container>
    <button class="add-btn" (click)="addForm()">Add Another {{ boxName }}</button>
</div>
